@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {

    /* Fonts */

    --font-inter-black: "Inter Black";
    --font-inter-extrabold: "Inter ExtraBold";
    --font-inter-bold: "Inter Bold";
    --font-inter-semibold: "Inter SemiBold";
    --font-inter: "Inter Regular";
    --font-inter-medium: "Inter Medium";
    --font-inter-light: "Inter Light";
    --font-inter-thin: "Inter Thin";

    --font-monospace: "Courier New", Courier, monospace;

    --font-tabler: "Tabler";

    /* Colors */

    --color-primary: #FF5BEC;
    --color-secondary: #FFFFFF;
    --color-darker: #131518;

    /* Animations */

    @keyframes fadePulse {
        0%, 100% {
            opacity: 0.2;
        }
        50% {
            opacity: 0.4;
        }
    }

    @keyframes fadeInOut {
        0% {
            opacity: 1;
        }
        85% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    --animate-fadepulse: fadePulse 12s ease-in-out infinite;
    --animate-fade-in-out: fadeInOut 5s ease-in-out forwards;

}